@import '../layout/form';
@import '../layout/card';

@media (min-width:768px) {
    main{
        height: 80vh;
        display: flex;
        background:linear-gradient($color-white-four, $color-white-two ) ;
        & .preview-card{
            flex: 1;
            order: 2;
            width: 329px;
            height: 812px;
        }
        & .form{
            order: 1;
        }
    }
}
