.section-card {
    background-color: $color-silver;
    width: 320px;
    height: 500px;
    
    
    
}

.card-reset {
   
    width: 70px;
    height: 30px;
    border-radius: 15px;
   
    
}


.reset-text  {
    width: 70px;
    height: 25px;
    border: solid 1px $color-white-two;
    border-radius: 15px;
    transform: translate(40px, 35px);
    padding: 10px;
    padding-bottom: 18px;
    padding-top: 10px;
    
  

}

.reset-icon {
    color:$color-gunmetal;  
   
}

.reset-botton {

 border: none;
 background-color:$color-silver;
 color:$color-gunmetal; 
 text-transform: uppercase;
 font-size: 10px;

}



.details-card {
  width: 250px;
  height: 350px;
  box-shadow: 0 1px 10px 0 $color-black-20, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  margin: 50px 30px 30px;
  padding: 10px;
  border-radius: 2px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:5px;
}


.card-img {
    /*width: 180px;
    height: 130px;*/
    width: 100%;
}

.list-icons {   
    list-style: none;
    display: flex; 
    justify-content:left;
    gap: 10px;
    padding-left:20px; 
}

.icon {
    padding: 5px;
    display: flex;
    color: $color-dark-green-blue;
    
   
    

}

.card-title {
    color: $color-dark-green-blue;
    font-family: $font-montse ;
    font-weight: bolder;
   
    
}

.card-job {
    color:$color-gunmetal;
    font-weight: lighter;
}


.box-icon {
    width: 25px;
    height: 25px;
    border: solid 2px $color-hospital-green; 
    border-radius: 50%;
    padding-top: 3px ;
    
}


.card-text {
    border-left: solid 5px $color-dark-green-blue;
    padding-left: 5px;
}

