.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 20px;
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 40px;
    }
}
.footerText {
    font-family: $font-open;
    color: $color-brownish-grey;
}
.footerImg {
    width: 100px;
    height: 40px;
}