<section class="preview-card">
  <form>
    <div class="reset-text">
      <i class="fa-regular fa-trash-can reset-icon"> </i>
      <input type="reset" value="reset" class="reset-botton" />
    </div>
  </form>
  <div class="details-card js-card">
    <div class="card-text">
      <h3 class="card-title js-name">Nombre Apellido</h3>
      <p class="card-job js-position">Front-end developer</p>
    </div>
    <img
      class="card-img js-img"
      src="https://static.vecteezy.com/system/resources/previews/000/230/130/original/female-web-developer-illustration-vector.jpg"
      alt="woman-developer"
    />
    <ul class="list-icons">
      <div class="box-icon">
        <li class="icon">
          <a href="# " class="icon-link js-phone">
            <i class="fa-solid fa-mobile-screen-button"> </i>
          </a>
        </li>
      </div>
      <div class="box-icon">
        <li class="icon">
          <a href="# " class="icon-link js-email">
            <i class="fa-regular fa-envelope"> </i>
          </a>
        </li>
      </div>
      <div class="box-icon">
        <li class="icon">
          <a href="# " class="icon-link js-linkedin">
            <i class="fa-brands fa-linkedin-in"> </i>
          </a>
        </li>
      </div>
      <div class="box-icon">
        <li class="icon">
          <a href="# " class="icon-link js-github">
            <i class="fa-brands fa-github-alt"> </i>
          </a>
        </li>
      </div>
    </ul>
  </div>
</section>
