<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <section class="section-card">

        <div class="card-reset">
            <div class="reset-text"> <i class="fa-regular fa-trash-can reset-icon"></i>
            <input type="reset" value="reset" class="reset-botton"> </div>
        </div>
    
        <div class="details-card"> 
            <div class="card-text"> 
            <h3 class="card-title"> Nombre Apellido </h3>
            <p class="card-job"> Front-end developer </p>
            </div>
            <img class="card-img" src="https://static.vecteezy.com/system/resources/previews/000/230/130/original/female-web-developer-illustration-vector.jpg" alt="woman-developer">
            <ul class="list-icons">
                <div class="box-icon"> <li class="icon"> <i class="fa-solid fa-mobile-screen-button"></i> </li> </div>
                <div class="box-icon">  <li class="icon"> <i class="fa-regular fa-envelope"></i> </li> </div>
                <div class="box-icon">  <li class="icon"> <i class="fa-brands fa-linkedin-in"></i></li> </div>
                <div class="box-icon">  <li class="icon"> <i class="fa-brands fa-github-alt"></i></li> </div>
            </ul>
        </div>
    </section>
    <section class="section-form"> 
    
    </section>
</body>
</html>