<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <section class="preview-card">

            
            <div class="reset-text"> 
            <i class="fa-regular fa-trash-can reset-icon"> </i>
             <input type="reset" value="reset" class="reset-botton" /> 
            </div>
           

    
        <div class="details-card palete1"> 
            <div class="card-text"> 
            <h3 class="card-title"> Nombre Apellido </h3>
            <p class="card-job"> Front-end developer </p>
            </div>
            <img class="card-img" src="https://static.vecteezy.com/system/resources/previews/000/230/130/original/female-web-developer-illustration-vector.jpg" alt="woman-developer">
            <ul class="list-icons">
                <div class="box-icon"> <li class="icon"> <a href="# " class="icon-link">   <i class="fa-solid fa-mobile-screen-button"> </i> </a>  </li> </div>
                <div class="box-icon">  <li class="icon"> <a href="# " class="icon-link"> <i class="fa-regular fa-envelope"> </i>  </a>  </li> </div>
                <div class="box-icon">  <li class="icon"> <a href="# " class="icon-link">  <i class="fa-brands fa-linkedin-in">  </i> </a>  </li> </div>
                <div class="box-icon">  <li class="icon"> <a href="# " class="icon-link">  <i class="fa-brands fa-github-alt">  </i> </a> </li> </div>
            </ul>
        </div>
    </section>
</body>
</html>