<form class="form" method="POST">
  <fieldset class="form__section">
    <legend class="form__section--title">
      <div>
        <i class="fa-regular fa-object-ungroup icon1"></i>
        Diseña
      </div>
      <div class="arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </legend>
    <div class="design__colors">
      <h4 class="design__colors--h4">Colores</h4>
      <div class="design__colors--radio">
        <label for="colors1" class="colors">
          <input
            class="design__input"
            id="colors1"
            type="radio"
            value="opcion1"
            name="colors"
          />
       
          <div class="palete1">
            <div class="dark__green">nsd</div>
            <div class="dirty__blue">nsd</div>
            <div class="hospital__green">nsd</div>
          </div>
        
        </label>
        <label for="colors2">
          <input
            class="design__input"
            id="colors2"
            type="radio"
            value="opcion2"
            name="colors"
          />
          <div class="palete2">
            <div class="dark__green">nsd</div>
            <div class="dirty__blue">nsd</div>
            <div class="hospital__green">nsd</div>
          </div>
        </label>
        <label for="colors3">
          <input
            class="design__input"
            id="colors3"
            type="radio"
            value="opcion3"
            name="colors"
          />
          <div class="palete3">
            <div class="dark__green">nsd</div>
            <div class="dirty__blue">nsd</div>
            <div class="hospital__green">nsd</div>
          </div>
        </label>
      </div>
    </div>
  </fieldset>
  <fieldset class="form__section">
    <legend class="form__section--title">
      <div><i class="fa-regular fa-keyboard icon1"></i> Rellena</div>
      <div class="arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </legend>
    <label for="name" class="label"> Nombre completo </label>
    <input
      class="input"
      id="name"
      type="text"
      name="name"
      placeholder="Ej: Sally Hill"
    />
    <label for="possition" class="label"> Puesto </label>
    <input
      class="input"
      id="possition"
      type="text"
      name="possition"
      placeholder="Ej: Front-end unicorn"
    />
    <label for="profileImg" class="label"> Imagen de perfil </label>
    <input
      class="input imgInput"
      id="profileImg"
      type="file"
      value="profileImg"
      name="profileImg"
    />
    <div class="fakeBtn">
      <div class="btn">Añadir imagen</div>
      <span class="tinyImg"></span>
    </div>
    <label for="email" class="label"> Email </label>
    <input
      class="input"
      id="email"
      type="email"
      name="email"
      placeholder="Ej: sally-hill@gmail.com"
    />
    <label for="phone" class="label"> Teléfono </label>
    <input
      class="input"
      id="phone"
      type="tel"
      name="phone"
      placeholder="Ej: 555-55-55-55"
    />
    <label for="linkedin" class="label"> LinkedIn </label>
    <input
      class="input"
      id="linkedin"
      type="text"
      name="linkedin"
      placeholder="Ej: linkedin.com/in/sally.hill"
    />
    <label for="github" class="label"> GitHub </label>
    <input
      class="input"
      id="github"
      type="text"
      name="github"
      placeholder="Ej: @sally-hill"
    />
  </fieldset>
  <fieldset class="form__section">
    <legend class="form__section--title">
      <div><i class="fa-solid fa-share-nodes icon1"></i> Comparte</div>
      <div class="arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </legend>
    <button class="button">
      <i class="fa-solid fa-address-card card__icon"></i> Crear tarjeta
    </button>
    <div class="line"></div>
  </fieldset>
</form>
